<!DOCTYPE html>
<html>
<head>
	<title>BOUH</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">
		<p class="text-center text-muted">Animals page : <%= title %></p>
	</div>
</body>
</html>
