<!DOCTYPE html>
<html>
<head>
	<title>BOUH</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body    { padding-top:50px; }
	</style>
	<script type="text/javascript">
	//document.getElementById("demo").innerHTML = "Hello World!";
	function test() {
		document.getElementById('demo').innerHTML = 'Hello World!';
	}
	</script>
</head>
<body >
	<div class="jumbotron text-center text-muted">
		<p id="demo" onclick="test()">Cars page : </p><p><%= title %></p>
	</div>
</body>
</html>
