<!DOCTYPE html>
<html lang="en">
<head>
	<title>BOUH</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body    { padding-top:50px; }
	</style>
</head>
<body>
	<div class="jumbotron">
		<p class="text-center text-muted">MAIN Page</p>
	</div>
	<table class="table table-striped">
		<tr>
			<td>OK</td>
			<td>OKKKKK</td>
		</tr>
		<tr>
			<td>Hola</td>
			<td>DAMNNNNNNNNNNNNNNNN</td>
			<td>Holax</td>
		</tr>
	</table>
	<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>	
</body>
</html>
